@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.Todos-heading {
    font-size: 30px;
}

.todo-big-container {
    background-color: gold;
    height: 100vh;

}

span {
    color: gray;
}

btn {
    display: inline-block;
}

#inputText {
    width: 80vw;
    height: 30px;
    color: gray;
    padding: 10px;
    font-weight: bold;
}

.todoitemheading {
    margin-top: 20px;
}

.li {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.check {
    height: 30px;
    margin-right: 10px;
    width: 30px;
    background-color: gray;
}

.label {
    width: 50vw;
    background-color: white;
    height: auto;
    padding-left: 10px;
    font-weight: bold;
}

ul {
    margin-top: 10px;
}

.labelContainer {
    background-color: gray;
    display: flex;
    flex-direction: row;


}

.deletecontiner {
    background-color: #fff;
    height: 30px;
    width: 30px;
    text-align: center;
}

.line_thu {
    color: green;
    font-style: italic;
    text-decoration: line-through;
    font-weight: bold;
}